/**************** COLORS ****************/
/* #3F76BF - Blue       */
/* #001128 - Dark Blue  */
/* #8F8F8F - Grey       */
/* #FFFFFF - White      */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/***************** TAGS ******************/
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #acacac;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #001128;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
}

/****************** IDs ******************/
#main {
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 6%;
    width: 80%;
    height: auto;
    background-color: white;
    padding: 3rem;
    padding-bottom: 15rem;
    border-radius: 10px;
}

#problems img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

/**************** CLASSES ****************/

.bg-dark {
    background-color: #001128 !important;
}

.navbar-nav,
.nav-link {
    font-size: 1.2rem;
    padding: 0.5rem;
}

.nav-link {
    padding: 0.5rem;
    color: #FFFFFF !important;
}

.nav-link:hover {
    background-color: #0069d9;
    padding: 0.5rem;
    border-radius: 10px;
}

.language a {
    color: #FFFFFF;
    text-decoration: none;
}

.language a:hover {
    background-color: #0069d9;
    border-radius: 10px;
}


.solution {
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
}

.submit-button {
    border: none;
}

.file-upload,
.submit-button,
.show.btn {
    display: inline-block;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border-radius: 4px;
    cursor: pointer;
}

.file-upload input[type="file"] {
    display: none;
}

.file-upload:hover,
.submit-button:hover,
.show.btn:hover {
    background-color: #0069d9;
}

.generate-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #001128;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}