/**************** COLORS ****************/
/* #3F76BF - Blue       */
/* #001128 - Dark Blue  */
/* #8F8F8F - Grey       */
/* #FFFFFF - White      */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/***************** TAGS ******************/
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #acacac;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #001128;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
}

iframe {
    display: block;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 3%;
    border: none;
    border-radius: 10px;
}

/****************** IDs ******************/
#main, #main-frame {
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 6%;
    width: 80%;
    height: auto;
    background-color: white;
    padding: 3rem;
    padding-bottom: 15rem;
    border-radius: 10px;
}

#main-frame {
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    background-color: #FFFFFF;

}

#frame-bg {
    background-color: #FFFFFF;
}

#problems img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

#files {
    margin-top: 2%;
    margin-bottom: 2%;
}

/**************** CLASSES ****************/
.bg-dark {
    background-color: #001128 !important;
}

.navbar-nav,
.nav-link {
    font-size: 1.2rem;
    padding: 0.5rem;
}

.nav-link {
    padding: 0.5rem;
    color: #FFFFFF !important;
}

.nav-link:hover {
    background-color: #0069d9;
    padding: 0.5rem;
    border-radius: 10px;
}

.language a {
    color: #FFFFFF;
    text-decoration: none;
}

.language a:hover {
    background-color: #0069d9;
    border-radius: 10px;
}


.solution {
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
}

.submit-button {
    border: none;
}

.file-upload,
.submit-button,
.show.btn {
    display: inline-block;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border-radius: 4px;
    cursor: pointer;
}

.file-upload input[type="file"] {
    display: none;
}

.file-upload:hover,
.submit-button:hover,
.show.btn:hover {
    background-color: #0069d9;
}

.assignment-set-form,
.data-table {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 1rem;
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.data-table {
    text-align: center;
}

.assignment-set-form form {
    display: grid;
    gap: 10px;
}

.assignment-set-form label {
    margin-left: 10%;
    font-weight: bold;
}

.data-table table {
    margin: 0 auto;
    width: 80%;
    font-size: 1rem;
    text-align: center;
    border: 3px solid #8F8F8F;
    border-collapse: collapse;
    border-radius: 10px;
}

.data-table table tr {
    border-right: 3px solid #8F8F8F;
}

.data-table table tr:nth-child(odd) {
    background-color: #ebebeb;
}

.data-table table td,
.data-table table th {
    padding: 10px;
}

.data-table table th {
    border-bottom: 3px solid #8F8F8F;
}

.assignment-set-form input[type="text"],
.assignment-set-form input[type="date"],
.assignment-set-form input[type="number"],
.assignment-set-form select {
    font-size: 16px;
    width: 78%;
    margin: 0 auto;
    padding: 1rem;
    border: none;
    border-bottom: 3px solid #8F8F8F;
    transition: 300ms ease-in-out border-bottom;
}

.assignment-set-form select {
    width: 78%;
}

.assignment-set-form input[type="text"]:focus,
.assignment-set-form input[type="date"]:focus,
.assignment-set-form input[type="number"]:focus,
.assignment-set-form select:focus {
    outline: none;
    border-bottom: 3px solid #3F76BF;
}

.assignment-set-form input[type="text"]:hover,
.assignment-set-form input[type="date"]:hover,
.assignment-set-form input[type="number"]:hover,
.assignment-set-form select:hover {
    border-bottom: 3px solid #3F76BF;
}

.assignment-set-form input[type="submit"] {
    margin: 0 auto;
    margin-top: 2%;
    font-size: 1rem;
    width: 35%;
    background-color: #3F76BF;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}

.assignment-set-form input[type="submit"]:hover {
    background-color: #0069d9;
}

.deleteBtn {
    padding: 0.5rem 1rem;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #bf3f3f;
    color: #FFFFFF;
    transition: background-color 0.3s ease;
}

.deleteBtn:hover {
    background-color: #531111;
}

/* Responsive styles */
@media (max-width: 768px) {
    #main {
        width: 90%;
    }

    .assignment-set-form,
    .data-table {
        max-width: 80%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .assignment-set-form input[type="text"],
    .assignment-set-form input[type="date"],
    .assignment-set-form input[type="number"],
    .assignment-set-form select {
        width: 100%;
    }

    .assignment-set-form input[type="submit"] {
        width: 100%;
    }
}

@media (max-width: 375px) {
    #main {
        width: 95%;
    }

    .assignment-set-form {
        margin-top: 8%;
        margin-bottom: 8%;
    }

    .assignment-set-form input[type="text"],
    .assignment-set-form input[type="date"],
    .assignment-set-form input[type="number"],
    .assignment-set-form select {
        width: 100%;
        font-size: 12px;
    }

    .assignment-set-form input[type="submit"] {
        width: 100%;
        font-size: 12px;
    }

    .assignment-set-form,
    .data-table {
        max-width: 70%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .generate-button {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        text-align: center;
        text-decoration: none;
        background-color: #001128;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
}