@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body {
    min-height: 100vh;
    display: grid;
    place-content: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h2 {
    text-align: center;
}

#dash {
    width: 300px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.inp {
    border-radius: 10px;
    padding: 0.5rem 1rem;
    indent: 1rem;
}

.btn {
    border-radius: 10px;
    padding: 0.5rem 1rem;
    background: forestgreen;
    color: white;
    cursor: pointer;

}

.btn:hover {
    background: rgba(34, 139, 34, 0.82);
}

#dash div, span {
    display: flex;
    align-items: center;
    gap: .5rem;
    justify-content: center;
    margin-top: 3rem;
}

img {
    height: 1rem;
}

#google {
    text-align: center;
}

span {
    margin-top: 1rem;
}

#password_error{
    display: none;
    text-decoration-color: red;
}

#email_error {
    display: none;
    text-decoration-color: red;
}

#bad_email {
    display: none;
    text-decoration-color: red;
}

#aisId_error {
    display: none;
    text-decoration-color: red;
}

#aisIdLeangh_error{
    display: none;
    text-decoration-color: red;
}